<div id="footer">
	<div id="footer-link" class="center">
  	<a href="#">公司简介</a> ｜
   	<a href="#">蓝智动态</a> ｜
    <a href="#">许可协议</a> ｜
    <a href="#">网站地图</a> ｜
    <a href="#">诚聘英才</a> ｜
    <a href="#">联系方式</a>
  </div>
  <div id="copyright" class="center">
    <span>Powered by <strong><a href="http://www.jspxcms.com" target="_blank">Jspxcms</a></strong></span>
    <span>&copy; 2010-2013 Jspxcms All Rights Reserved</span>
    <span>南昌蓝智科技有限公司 版权所有</span>
    <span><a href="http://www.miibeian.gov.cn" target="_blank" class="icp">赣ICP备12001124号-1</a></span>
  </div>
  
<script type="text/javascript">
document.write(unescape("%3Cscript src='${ctx}/visit_log.jspx%3FsiteId%3D${site.id}%26url%3D")+document.location.href+unescape("%26referrer%3D")+document.referrer+unescape("' type='text/javascript'%3E%3C/script%3E"));
</script>
  
</div>