<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jspxcms投票_${Param.q!?html}_${site.fullNameOrName}</title>
[#include 'inc_head.html'/]
<link type="text/css" rel="stylesheet" href="_files/global.css"/>
</head>
<body>
[#include 'inc_header.html'/]
<div class="center">
	当前位置：<a href="${ctx}/"></a> > 投票
</div>
<p><a href="${ctx}/vote.jspx?id=${vote.id}" target="_blank">${vote.title?html}</a></p>
<p>总票数：${vote.total}</p>
<input type="hidden" name="id" value="${vote.id}"/>
<ul>
[#list vote.options as option]
<li>${option.title} ${option.count} / ${vote.total}</li>
[/#list]
</ul>
[#include 'inc_footer.html'/]
</body>
</html>