<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="input type="text"/html; charset=utf-8" />

<link type="input type="text"/css" rel="stylesheet" href="_files/global.css"/>
<script language="javascript" type="text/javascript" src="${fore}/jquery.js" ></script>
<script language="javascript" type="text/javascript" src="${fore}/bluewise.js" ></script>
<script language="javascript" type="text/javascript" src="${fore}/fore.js" ></script>
<script type="text/javascript" src="${fore}/jquery.validation_zh_CN.js"></script>
</head>
<body>
	<form id="validForm" action="${ctx}/forgot_password.jspx" method="post">
	<p>用户名：<input type="text" name="username"/></p>
	<p>邮箱：<input type="text" name="email"/></p>
	<p><input type="submit" value="提交"/></p>
	</form>

</body>
</html>